@page "/"

<PageTitle>Home</PageTitle>
<FluentGrid>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>Display Pi Status</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>PiNAS Status</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>Pi 3 Status</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>Pi 4 Status</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>Pi 5 Status</p>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>