@page "/"

<PageTitle>Home</PageTitle>
<FluentGrid>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>Display Pi Status</p>
            <p>-- V, -- A</p>
            <FluentButton>Shutdown</FluentButton>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>PiNAS Status</p>
            <p>-- V, -- A</p>
            <FluentButton>Shutdown</FluentButton>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>PiDC Status</p>
            <p>-- V, -- A</p>
            <FluentButton>Shutdown</FluentButton>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>PiBuild Status</p>
            <p>-- V, -- A</p>
            <FluentButton>Shutdown</FluentButton>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="12" sm="6">
        <FluentCard>
            <p>Pi 5 Status</p>
            <p>-- V, -- A</p>
            <FluentButton>Shutdown</FluentButton>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>