@inherits LayoutComponentBase
<div style="height:480px; width:800px; outline:solid 1px #000">
    <FluentMainLayout NavMenuTitle="Navigation" IsNavMenuCollapsed="true">
        <Header>
            <h3>Pico Power Management</h3>
        </Header>
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
            <FluentNavLink Href="/" Text="Fans">Fans</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>

</div>
